//colors
$txtPrimary: #fff;
$txtBlack: #0F0F0F;
$txtGray:rgba(255, 255, 255, 0.75);
$txtTitleAccess: #0070CC;
$txtPropouse: #66A9E0;
$txtInputPlaceholder: rgba(0, 112, 204, 0.25);
$txtTrubltext: #E50000;
$txtInputTrublPlaceholder: rgba(229, 0, 0, 0.25);
$txtFindTitle: rgba(0, 0, 0, 0.80);
$txtFind: #0070CC;
$txtPlaceholder: rgba(255, 255, 255, 0.70);
$txtBonus: #F48F00;



//background

//anims
@keyframes visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
