//colors
$txtPrimary: #fff;
$txtGray:rgba(255, 255, 255, 0.75);
$txtTitleAccess: #0070CC;
$txtPropouse: #66A9E0;
$txtInputPlaceholder: rgba(0, 112, 204, 0.25);
$txtTrubltext: #E50000;
$txtInputTrublPlaceholder: rgba(229, 0, 0, 0.25);

//background
